.container {
    list-style: none;
    width: 250px;
    background: lightgray;
    border-radius: 5px;
    padding: 15px;
    margin: 15px auto;
}

.container label {
    font-weight: 600;
}

.container label::after {
    content: ':';
}